*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
   background-image: url(background_image.jpg);
   -webkit-background-size:cover;
   background-size:cover;
   background-position: center center;
   height: 100vh;
}
.menu-area li a{
    text-decoration:none;
    color:#000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}
.menu-area li {
    list-style:none;
    display: inline-block;
}
.custom-padding{
    padding-top: 25px;
}
nav{
    position:relative;
    padding:10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    background: #333;
    margin: 0 auto;
    width:calc(100% - 60px);
}
.logo{
    width:15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}
.menu-area li a:hover{
    background: tomato;
    color: #fff;
}
nav:before{
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
